{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}
{% block main %}
	{# <div class="text-center mt-0">
			<img src='/img/Muse_rect_trans.png' style="width: 10rem; height:auto;">
		</div> #}

	<div class="row">

		{% include '/dashboard/pie_bar_chart1.html.twig' %}
		<div class="row d-flex justify-content-center">
			<table class="columns">
				<tr>
					<td>
						<div id="piechart_div" style=""></div>
					</td>
					<td>
						<div id="barchart_div" style=""></div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	{# *** Charts.js *** #}

	{# <div class="col-12">
        {{ render_chart(chart) }}
    </div> #}

	<div class="row mt-3 d-flex justify-content-around">
		<div class="col-md-3">
			<h3 class="text-info">Inscrits :
				{{ users|length }}
			</h3>
			<ul>{% set sumVal = 0 %}
				{% for cart in carts %}
					{% set sumVal = sumVal + cart.validated %}
				{% endfor %}
				<li>Nombre de paniers sans commande :
					<strong class="text-warning">{{ carts|length - sumVal }}</strong>
				</li>
				<li>Moyenne de commandes par utilisateur :
					<strong class="text-warning">{{ sumVal / users|length }}</strong>
				</li>
				<li>Moyenne des dépenses par utilisateur :
					{% set sum = 0 %}
					{% for cart in carts %}
						{% set sum = sum + cart.total %}
					{% endfor %}
					<strong class="text-warning">{{ sum / users|length }}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Adresses :
				{{ addresses|length }}</h3>
			<ul>
				<li>
					Moyenne d'adresses par utilisateur:
					<strong class="text-warning">{{ addresses|length / users|length }}</strong>
				</li>
				{# {% for address in addresses|slice(0,3) %}
                    <li>
                        <a href="{{ path('app_address_show', {'id': address.id}) }}">{{ address.name }}</a>
                        <br>- ({{ address.fullName }})
                    </li>
                {% endfor %} #}
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Fournisseurs :
				{{ suppliers|length }}
			</h3>
			<ul>
				<li>
					Moyenne de produits par fournisseur:
					<strong class="text-warning">{{ products|length / suppliers|length }}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Catégories :
				{{ categories|length }}
			</h3>
			<ul>
				<li>
					Moyenne de produits par catégorie:
					<strong class="text-warning">{{ products|length / categories|length }}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Produits :
				{{ products|length }}
			</h3>
			<ul>{% set sumQuant = 0 %}
				{% for product in products %}
					{% set sumQuant = sumQuant + product.quantity %}
				{% endfor %}
				<li>Moyenne des quantités en stock par produit :
					<strong class="text-warning">{{ sumQuant / products|length}}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Détails des paniers / commandes:
				{{ orderDetails|length }}
			</h3>
			<ul>
				{% set sumProd = 0 %}
				{% for detail in orderDetails %}
					{% set sumProd = sumProd + detail.quantity %}
				{% endfor %}
				{% set sumVal = 0 %}
				{% for cart in carts %}
					{% set sumVal = sumVal + cart.validated %}
				{% endfor %}
				<li>
					Moyenne de produits par panier:
					<strong class="text-warning">{{ sumProd / carts|length }}</strong>
				</li>
				<li>
					Moyenne de produits par commande:
					<strong class="text-warning">{{ sumProd / sumVal }}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Paniers / commandes :
			</h3>
			<ul>
				{% set sum = 0 %}
				{% set sumVal = 0 %}
				{% for cart in carts %}
					{% set sum = sum + cart.total %}
					{% set sumVal = sumVal + cart.validated %}
				{% endfor %}
				<li>Nombre de paniers :
					<strong class="text-warning">{{ carts|length }}</strong>
				</li>
				<li>Nombre de commandes :
					<strong class="text-warning">{{ sumVal }}</strong>
				</li>
				<li>Moyenne des commandes par utilisateur :
					<strong class="text-warning">{{ sumVal / users|length }}</strong>
				</li>
				<li>Moyenne des dépenses par commande :
					<strong class="text-warning">{{ sum / sumVal }}</strong>
				</li>
			</ul>
		</div>

	</div>
	{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% endblock %}
{% endblock %}
