{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}
{% block main %}
	{# <div class="text-center mt-0">
			<img src='/img/Muse_rect_trans.png' style="width: 10rem; height:auto; position: relative;">
		</div> #}

    <div class="container">
        <h1 class="text-info text-center mb-3">Statistiques du site</h1>

        <hr>

{#*** Twig calculations ***#}
    {% set sumTotal = 0 %}
    {% set sumVal = 0 %}
    {% set pro = 0 %}
    {% set sumPro = 0 %}
    {% set sumClient = 0 %}

    {% set sumQuant = 0 %}

    {% set sumProd = 0 %}

    {% set sumShip = 0 %}

    {% for cart in carts %}
        {% set sumVal = sumVal + cart.validated %}
        {% set sumShip = sumShip + cart.shipped %}
            {% if cart.validated == true %}
                {% set sumTotal = sumTotal + cart.total %}
            {% endif %}
            {% if cart.user.pro == true %}
                {% set pro = pro + 1 %}
                    {% if cart.validated == true %}
                        {% set sumPro = sumPro + cart.total %}
                    {% endif %}    
            {% else %}
                {% if cart.validated == true %}
                    {% set sumClient = sumClient + cart.total %}
                {% endif %}
            {% endif %}
    {% endfor %}

    {% for product in products %}
        {% set sumQuant = sumQuant + product.quantity %}
    {% endfor %}

    {% for detail in orderDetails %}
        {% set sumProd = sumProd + detail.quantity %}
    {% endfor %}



<!-- Highlighted figures Start -->
            <div class="container-fluid pt-4 px-4 mb-1">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 bg-dark border border-secondary">
                            <i class="fa fa-chart-line fa-3x text-info"></i>
                            <div class="ms-3 text-light">
                                <p class="mb-2">Ventes d'aujourd'hui :</p>
                                <h6 class="mb-0 text-light">
                                {% set todaySales = 0 %}
                                {% for cart in carts %}
                                    {% if cart.orderDate == "now"|date() %}
                                        {% if cart.validated == true %}
                                            {% set todaySales = todaySales + cart.total %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {{ todaySales }} €</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 bg-dark border border-secondary">
                            <i class="fa fa-chart-bar fa-3x text-info"></i>
                            <div class="ms-3 text-light">
                                <p class="mb-2">Total des ventes :</p>
                                <h6 class="mb-0 text-light">{{ sumTotal }} €</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 bg-dark border border-secondary">
                            <i class="fa fa-chart-area fa-3x text-info"></i>
                            <div class="ms-3 text-light">
                                <p class="mb-2">C.A. Professionels :</p>
                                <h6 class="mb-0 text-light">{{ sumPro }} €</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 bg-dark border border-secondary">
                            <i class="fa fa-chart-pie fa-3x text-info"></i>
                            <div class="ms-3 text-light">
                                <p class="mb-2">C.A. Particuliers :</p>
                                <h6 class="mb-0 text-light">{{ sumClient }} €</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <hr>
            <div class="col-md-6">

</div>

    {# Global Figures #}
        {% include '/dashboard/global_figures.html.twig' %}

<h2 class="text-center text-info">Evolution de la société</h2>

{% include '/dashboard/annotation_chart1.html.twig' %}
<div class="mb-3 rounded d-flex align-items-center justify-content-between p-4 bg-dark border border-secondary" id='chart_div' style='width: 900px; height: 600px;'></div>



<div class="col-12">
{% include '/dashboard/calendar_chart1.html.twig' %}
<div class="mb-3 rounded d-flex align-items-center justify-content-around p-4 bg-dark border border-secondary" id="calendar_basic" style="width: 100%; height: auto;"></div>
</div>

	{# *** Charts.js *** #}

	{# <div class="col-12">
        {{ render_chart(chart) }}
    </div> #}

{# Chiffre d'affaires mois par mois pour une année sélectionnée
Chiffre d'affaires généré pour un fournisseur
TOP 10 des produits les plus commandés pour une année sélectionnée (référence et nom du produit, quantité commandée, fournisseur)
TOP 10 des produits les plus rémunérateurs pour une année sélectionnée (référence et nom du produit, marge, fournisseur)
Top 10 des clients en nombre de commandes ou chiffre d'affaires
Répartition du chiffre d'affaires par type de client
Nombre de commandes en cours de livraison. #}


{# *** Fil Rouge table *** #}

<div class="row mt-5">
<div class="col-12">
    <table class="table table-dark darker table-striped">
        <thead>
            <tr class="text-info">
                <th>Nombre de commandes en cours de livraison</th>
                <th>C.A. Pro</th>
                <th>C.A. Particuliers </th>
                <th></th>
                <th></th>
                <th> </th>
                <th></th>
                <th></th>
                <th> </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-warning">{% if sumShip != 0 %}{{ sumVal - sumShip }}{% endif %}</td>
                <td class="text-warning">{{sumPro}} €</td>
                <td class="text-warning">{{sumClient}} €</td>
                <td></td>
                <td></td>
                <td class="text-break"></td>
                <td class="text-break"></td>
                <td class="text-break"></td>
                <td></td>
                <td></td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>




</div>
	{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% include '/dashboard/products_column_chart.html.twig' %}
{% include '/dashboard/users_pie_chart.html.twig' %}
	{% endblock %}
{% endblock %}
