{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}
{% block main %}
	<div class="text-center">
		<img src='/img/Muse_rect_trans.png' style="width: 10rem; height:auto;">
	</div>
	<div class="row">

		<div class="col-12">
			{{ render_chart(chart) }}
		</div>

		{# <canvas id="myChart" width="400" height="100"></canvas>
		<script>
		const ctx = document.getElementById('myChart').getContext('2d');
		const myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
		        datasets: [{
		            label: '# of Votes',
		            data: [12, 19, 3, 5, 2, 3],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255, 99, 132, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            y: {
		                beginAtZero: true
		            }
		        }
		    }
		});
		</script> #}


		<div class="col-md-3">
			<h3>Inscrits : {{ users|length }}
				</h3>
			<ul>
				<li>Nombre d'adresses: {{  addresses|length  }}</li>
                    <li>Nombre d'utilisateurs: {{  users|length }}</li>
                   <li> Moyenne d'adresses par utilisateur:
                    <h5 class="text-primary"><strong>{{ addresses|length / users|length }}</strong></h5></li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3>Adresses :
				{{ addresses|length }}</h3>
			<ul>
				{% for address in addresses|slice(0,3) %}
					<li>
						<a href="{{ path('app_address_show', {'id': address.id}) }}">{{ address.name }}</a>
						<br>- ({{ address.fullName }})
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-md-3">
			<h3>Fournisseurs : {{ suppliers|length }}
				</h3>
			<ul>
				<li>Nombre d'adresses: {{  addresses|length  }}</li>
                    <li>Nombre d'utilisateurs: {{  users|length }}</li>
                   <li> Moyenne d'adresses par utilisateur:
                    <h5 class="text-primary"><strong>{{ addresses|length / users|length }}</strong></h5></li>
			</ul>
		</div>

        <div class="col-md-3">
			<h3>Catégories : {{ categories|length }}
				</h3>
			<ul>
				<li>Nombre d'adresses: {{  addresses|length  }}</li>
                    <li>Nombre d'utilisateurs: {{  users|length }}</li>
                   <li> Moyenne d'adresses par utilisateur:
                    <h5 class="text-primary"><strong>{{ users|length / addresses|length}}</strong></h5></li>
			</ul>
		</div>

        <div class="col-md-3">
			<h3>Produits : {{ products|length }}
				</h3>
			<ul>
				<li>Nombre d'adresses: {{  addresses|length  }}</li>
                    <li>Nombre d'utilisateurs: {{  users|length }}</li>
                   <li> Moyenne d'adresses par utilisateur:
                    <h5 class="text-primary"><strong>{{ users|length / addresses|length}}</strong></h5></li>
			</ul>
		</div>

        <div class="col-md-3">
			<h3>Détails de commande : {{ orderDetails|length }}
				</h3>
			<ul>
				<li>Nombre d'adresses: {{  addresses|length  }}</li>
                    <li>Nombre d'utilisateurs: {{  users|length }}</li>
                   <li> Moyenne d'adresses par utilisateur:
                    <h5 class="text-primary"><strong>{{ users|length / addresses|length}}</strong></h5></li>
			</ul>
		</div>

        <div class="col-md-3">
			<h3>Paniers : {{ carts|length }}
				</h3>
			<ul>
				<li>Nombre d'adresses: {{  addresses|length  }}</li>
                    <li>Nombre d'utilisateurs: {{  users|length }}</li>
                   <li> Moyenne d'adresses par utilisateur:
                    <h5 class="text-primary"><strong>{{ users|length / addresses|length}}</strong></h5></li>
			</ul>
		</div>

	</div>
	{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% endblock %}
{% endblock %}
