	<div class="row mt-3 d-flex justify-content-around">
		<div class="col-md-3">
			<h3 class="text-info">Inscrits :
				{{ users|length }}
			</h3>
            <ul>{% set sumTotal = 0 %}
                {% set sumVal = 0 %}
				{% for cart in carts %}
					{% set sumVal = sumVal + cart.validated %}
                    {% if cart.validated == true %}
                            {% set sumTotal = sumTotal + cart.total %}
                    {% endif %}
				{% endfor %}
				<li>Nombre de paniers sans commande :
					<strong class="text-warning">{{ carts|length - sumVal }}</strong>
				</li>
				<li>Moyenne de commandes par utilisateur :
					<strong class="text-warning">{{ sumVal / users|length }}</strong>
				</li>
				<li>Moyenne des dépenses par utilisateur :
					<strong class="text-warning">{{ (sumTotal / users|length)|number_format(2, '.', '') }} €</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Adresses :
				{{ addresses|length }}</h3>
			<ul>
				<li>
					Moyenne d'adresses par utilisateur:
					<strong class="text-warning">{{ addresses|length / users|length }}</strong>
				</li>
				{# {% for address in addresses|slice(0,3) %}
                    <li>
                        <a href="{{ path('app_address_show', {'id': address.id}) }}">{{ address.name }}</a>
                        <br>- ({{ address.fullName }})
                    </li>
                {% endfor %} #}
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Fournisseurs :
				{{ suppliers|length }}
			</h3>
			<ul>
				<li>
					Moyenne de produits par fournisseur:
					<strong class="text-warning">{{ products|length / suppliers|length }}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Catégories :
				{{ categories|length }}
			</h3>
			<ul>
				<li>
					Moyenne de produits par catégorie:
					<strong class="text-warning">{{ products|length / categories|length }}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Produits :
				{{ products|length }}
			</h3>
			<ul>
                {% set sumQuant = 0 %}
				{% for product in products %}
					{% set sumQuant = sumQuant + product.quantity %}
				{% endfor %}
				<li>Moyenne des quantités en stock par produit :
					<strong class="text-warning">{{ sumQuant / products|length}}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Détails des paniers / commandes:
				{{ orderDetails|length }}
			</h3>
			<ul>
				{% set sumProd = 0 %}
				{% for detail in orderDetails %}
					{% set sumProd = sumProd + detail.quantity %}
				{% endfor %}
				{% set sumVal = 0 %}
				{% for cart in carts %}
					{% set sumVal = sumVal + cart.validated %}
				{% endfor %}
				<li>
					Moyenne de produits par panier:
					<strong class="text-warning">{{ sumProd / carts|length }}</strong>
				</li>
				<li>
					Moyenne de produits par commande:
					<strong class="text-warning">{{ sumProd / sumVal }}</strong>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3 class="text-info">Paniers / commandes :
			</h3>
			<ul>
				{% set sumTotal = 0 %}
				{% set sumVal = 0 %}
                {% set sumShip = 0 %}
				{% for cart in carts %}
					{% set sumVal = sumVal + cart.validated %}
                    {% set sumShip = sumShip + cart.shipped %}
                        {% if cart.validated == true %}
                            {% set sumTotal = sumTotal + cart.total %}
                        {% endif %}
                {% endfor %}

				<li>Nombre de paniers :
					<strong class="text-warning">{{ carts|length }}</strong>
				</li>
				<li>Nombre de commandes :
					<strong class="text-warning">{{ sumVal }}</strong>
				</li>

                <li>Nombre de commandes en cours de livraison :
					<strong class="text-warning">{{ sumVal - sumShip }}</strong>
				</li>

				<li>Moyenne des commandes par utilisateur :
					<strong class="text-warning">{{ sumVal / users|length }}</strong>
				</li>
				<li>Moyenne des dépenses par commande :
					<strong class="text-warning">{{ (sumTotal / sumVal)|number_format(2, '.', '') }} €</strong>
				</li>
			</ul>
		</div>