<div class="card bg-dark darker border border-secondary">

	<a href="{{ path('app_product_show', {'id': product.id}) }}"><img src="/img/{{ product.image }}" class="card-img-top img-thumbnail border border-dark" onerror="this.onerror=null; this.src='{{ product.image }}'"></a>
	{# <img src="/img/{{ product.image }}" class="card-img-top thumbnail-image" onerror="this.onerror=null; this.remove();"> #}

	<div class="card-body d-flex flex-column">
		<a class="text-decoration-none" href="{{ path('app_product_show', {'id': product.id}) }}">
			<h3 class="card-title Hl">{{ product.name }}</h3>
		</a>
		<a class="text-decoration-none" href="{{ path('app_product', {'id': product.supplier.id}) }}">
		<small class="float-left text-secondary Hl"><i>{{product.supplier.name}} <sup>©</sup></i></small>
		</a>
		<div class="card-text text-primary" style="font-weight: bold; font-size: 2rem; text-align: right;">
			{% if product.discountRate != 0 %}
				<small>
					<s class="text-warning digital">
						{% if app.user %}
							{{ (product.price * (1 +  app.user.vat))|number_format(2, '.', '') }} €
						{% else %}
							<b class="digital">{{ (product.price * 1.2)|number_format(2, '.', '') }} €</b>
						{% endif %}
					</s>
				</small>
			{% else %}
				<b class="digital text-warning">{{ (product.price * 1.2)|number_format(2, '.', '') }} €</b>
			{% endif %}

			{% if product.discountRate != 0 %}
			<div class="d-flex justify-content-end">
				<h4 class="text-warning digital">-{{ product.discountRate * 100 }}</h4><h5 class="text-warning">% !</h5>
				</div>
				{% if app.user %}
					<p class="h4 text-warning">
						<b class="text-warning digital h2">{{ (product.price * ( 1 - product.discountRate) * (1 +  app.user.vat ))|number_format(2, '.', '') }}
							€</b>
					</h4>
				{% else %}
					<p class="h4 text-warning digital">
						<b>{{ (product.price * ( 1 - product.discountRate) * 1.2)|number_format(2, '.', '') }}
							€</b>
					</h4>
				{% endif %}
			{% endif %}
		</div>
		<p class="text text-muted">{{ product.description|u.truncate(75, '...') }}</p>
		<div>
			{% for c in product.categories %}
				<a class="text-decoration-none" href="{{ path('app_catalogue', {'category': c.id}) }}">
					<em class="text-primary text-primary text-italic">#{{ c.name }}</em>
				</a>
			{% endfor %}
		</div>
		<div class="card-footer mt-auto">
			<a href="{{ path('app_cart_add', {'id': product.id}) }}" title="Ajouter au panier" class="btn btn-info float-right border-light Hl{% if product.quantity == 0 %} disabled btn-secondary{% endif %}">
				<i class="fa-solid fa-cart-plus"></i>
			</a>


			<span class="position-relative d-flex justify-content-middle">
				{% if product.quantity == 0 %}
					<br><h3 class="text-secondary">Rupture de stock !</h3>
				{% else %}
					<br><h3>
						<small>(<b class="digital">{{product.quantity}}</b>
							en stock)</small>
					</h3>
				{% endif %}
			</span>

		</div>
	</div>
</div>
