{{ form_start(form, {attr: {class: 'filter'}}) }}

{{ form_row(form.q) }}

<small class="text-info">
	<b>Catégories</b>
</small>

<small>{{ form_row(form.categories, {attr: {class: 'filterCat'}}) }}</small>

<small class="text-info">
	<b>Marques</b>
</small>

<small>{{ form_row(form.supplier) }}</small>

<small class="text-info">
	<b>Prix</b>
</small>
<div class="row">
	<div class="col-md-6">
		{{ form_row(form.min) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.max) }}
	</div>
</div>

<small class="text-info">
	<b>Promotions</b>
</small>
<small>{{ form_row(form.discount) }}</small>

<button class="btn btn-info border border-light w-100 mb-1">Rechercher</button>

			<button class="btn btn-sm btn-outline-danger"><a href="{{ path("app_order_validated") }}">Valider la commande</a></button>

{{ form_end(form) }}
