{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<div class="container mb-3">
		{% if categories|length != 0 %}

			<h1 class="text-primary mb-5 mt-3">Catégories :</h1>

			{% set col = 1 %}
			{% for category in categories %}
				{% if (col == 1)%}
					<div class="row">
					{% endif %}
					<div class="col-md-4 mb-3">
						{% if category.parentCategory %}

							<button class="btn btn-warning darker border border-secondary d-flex mt-1 mb-1 position-relative align-items-center">
								<i class="fa-solid fa-guitar text-secondary"></i>
								<h2>
									<a class="text-decoration-none text-light ml-3 mr-3" href="{{ path('app_catalogue', {'category': category.id}) }}">
										{{ category.name }}
									</a>
									<h2 class="badge rounded-pill border border-light bg-secondary text-white ml-1">{{ category.product|length }}</h2>
								</h2>
							</button>

						</div>
					{% else %}
						<button id="category" class="btn btn-dark darker border border-secondary d-flex mt-1 mb-1 position-relative align-items-center">
							<i class="fa-solid fa-guitar text-secondary"></i>
							<h2>
								<a class="text-decoration-none text-light ml-3 mr-3" href="{{ path('app_category', {'parent': category.id}) }}">
									{{ category.name }}
								</a>
							</h2>
							<h2 class="badge rounded-pill border border-light bg-secondary text-white ml-1">{{ category.product|length }}</h2>
						</button>

					{% endif %}
				</div>

				{% if (col == 3) %}
				</div>
				{% set col = 1 %}
			{% else %}
				{% set col = col + 1 %}
			{% endif %}
		{% endfor %}

	</div>
{% else %}
	<h1 class="mt-3 mb-5">Aucune catégorie trouvée!</h1>
{% endif %}</div>{% endblock %}
