<h1>{{ app.user.userName }}
	{{ app.user.userLastName }},</h1>
<br><h3>Bienvenue sur Muse!</h3>
<br><h5>Voici le récapitulatif de vos informations personnelles :</h5>
<br><p><b>Prénom : </b>{{ app.user.userName }}</p>
<p><b>Nom : </b>{{ app.user.userLastName }}</p>
<p><b>E-mail : </b>{{ app.user.email }}</p>
<p><b>Date de naissance : </b>{{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}</p>
{# {% if user.address %}<p><b>Adresse : </b>{{ user.address }}</p>{% endif %} #}
<p><b>N° téléphone : </b>{{ user.phoneNumber }}</p>
<p></p>
{% if user.proCompanyName %}
<p><b>Raison sociale : </b>{{ user.proCompanyName }}</p>
<p><b>Votre poste : </b>{{ user.proJobPosition }}</p>
<p><b>DUNS : </b>{{ user.proDuns }}</p>
{% endif %}

<br><br>Merci de votre confiance et à bientôt sur Muse!<br><br>L'équipe de Muse</p>
<img style="width: 200px; border-radius: 10px;" src="http://localhost:8000/img/logo.png">