<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://localhost:8000/css/style.css">
		<title>Invoice</title>

		<style>
		body{
		    background: url('');
		}
			#div1 {
				position: absolute;
				top: 20cm;
				left: 10cm;
				width: 5cm;
				border: 1px solid #AAAAAA;
			}

			#div2 {
				position: absolute;
				top: 15cm;
				left: 2cm;
				width: 5cm;
				border: 1px solid #AAAAAA;
			}
		</style>
	</head>
	<body>
		<div id="div1">
			texte<br>
			texte<br>
			texte<br>
			texte<br>
		</div>

		<div id="div2">
			texte<br>
			texte<br>
			texte<br>
			texte<br>
		</div>

		<h1 class="text-center text-primary mt-5 pt-5 mb-5">Votre Panier :</h1>
			<table class="table table-dark darker border border-info">
				<thead>
					<tr class="text-primary surround">
						<th>Produit</th>
						<th>Prix</th>
						<th>Promotion</th>
						{% for detail in details|slice(0, 1) %}{% if detail.cart.additionalDiscountRate != 0 %}<th class="text-success">Remise</th>{% endif %}{% endfor %}
						<th>TVA</th>
						<th>Quantité</th>
						<th>Sous-total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for detail in details %}
						<tr>
							<td><a class ="text-decoration-none" href="{{ path('app_product_show', {'id': detail.product.id}) }}"><p class="productHl">{{detail.product.name}}</p></a></td>
							<td>{{detail.product.price}}</td>
							{% if detail.product.discountRate != 0 %}<td class="text text-warning"><div class="d-flex justify-content-start">
								<h5 class="text-warning">-{{ detail.product.discountRate * 100 }}</h5><h5 class="text-warning">%</h5></div>
							{% else %}<td>-
							{% endif %}</td>
							{% if detail.cart.additionalDiscountRate != 0 %}<td class="text-success">-{{detail.cart.additionalDiscountRate * 100}}%</td>{% endif %}
							<td>{{ app.user.vat * 100}}%</td>
							<td>{{detail.quantity}} {% if detail.product.quantity == 0 %} ({{detail.product.quantity}} left in stock) {% endif %}</td>
							<td class="h5{% if detail.product.discountRate != 0 %} text-warning{% endif %}">{{ ((detail.product.price * detail.quantity) * (1 - ( detail.product.discountRate + detail.cart.additionalDiscountRate)) * (1 +  app.user.vat ))|number_format(2, '.', '') }}
								€</h4></td>
							<td>
								</td>
							</td>
						</tr>
											{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" class="text-right surround h4"><b class="">Total :</b>
						</td>
						<td class="roboto h4">{{ order.total|number_format(2, '.', '') }}
							€</td>{% for detail in details|slice(0, 1) %}
							{% if detail.product.discountRate != 0 %}
							<td colspan="6">
							{% else %}
							<td colspan="5">
							{% endif %}
							{% endfor %}
						</td>
					</tr>
				</tfoot>
			</table>

	</body>
</html>
