<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {{ encore_entry_link_tags('app') }}
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<h1>Validation de votre commande</h1>
						{{ app.user.userName }}
						{{ app.user.userLastName }}<br>
						{{ app.user.email }}

					<p>Votre commande n°<b>{{ cart.clientOrderId }}</b>
						a bien été validée en date du
						{{ cart.orderDate|format_datetime('short', 'none', locale='fr') }}. Voici le récapitulatif :</p>

					<table border="1">
						<thead>
							<tr>

								<th>Produit</th>
								<th>Prix</th>
								<th>Promotion</th>
								<th>TVA</th>
								<th>Quantité</th>
								<th>Sous-total</th>

							</tr>
						</thead>
						<tbody>
							{% set total = 0 %}
							{% for detail in details %}
								<tr>
									<td>{{detail.Product.name}}</td>
									<td style="text-align:right;">{{detail.Product.price}}
										€</td>
									<td style="text-align:right;">
										{% if detail.Product.discount %}-{{ detail.Product.discountRate * 100 }}%{% else %}-
										{% endif %}
									</td>
									<td style="text-align:right;">{{app.user.vat * 100}}%</td>
									<td style="text-align:right;">{{detail.Quantity}}</td>
									<td style="text-align:right;">{{(detail.Product.price * detail.Quantity) * (1 - (detail.Product.discountRate)) * (1 +  app.user.vat)}}
										€</td>
								</tr>
								{% set total = total + (detail.Product.price * detail.Quantity) * (1 - (detail.Product.discountRate)) * (1 +  app.user.vat) %}
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" style="text-align:right;">
									<b>Total :</b>
								</td>
								<td style="text-align:right;">{{ total }}
									€</td>
							</tr>
						</tfoot>
					</table>
					<img style="width: 200px; border-radius: 10px;" src="http://localhost:8000/img/logo.png">

				</div>
			</div>
		</div>
	</body>
</html>
