{# Breadcrumbs #}
{% macro render(categories) %}
    {% set metadata = {
        '@context': 'https://schema.org',
        '@type': 'BreadcrumbList',
        'categoryListElement': [],
    } %}

    <nav aria-label="Breadcrumbs">
        <ol class="breadcrumb">
            {%- for category in categories -%}
                {%- set ld_category = {
                    '@type': 'Listcategory',
                    'position': loop.index,
                    'name': category.text|e('html_attr')
                } -%}
                
                {%- set active = loop.last -%}
                {%- set active_class = active ? ' active' -%}

                <li class="breadcrumb-category {{- active_class }}" {%- if active %} aria-current="page" {%- endif %}>
                    {%- if category.url is defined -%}
                        <a href="{{ category.url }}">{{ category.text }}</a>
                        {%- set ld_category = ld_category|merge({'category': category.url}) -%}
                    {%- else -%}
                        {{- category.text -}}
                    {%- endif -%}
                </li>

                {%- set metadata = metadata|merge({
                    'categoryListElement': metadata.categoryListElement|merge([ld_category]),
                }) %}
            {%- endfor -%}
        </ol>
    </nav>

    <script type="application/ld+json">{{ metadata|json_encode|raw }}</script>
{% endmacro %}

